CEDAR_HOST=0.0.0.0
CEDAR_PORT=8080
CEDAR_SECRET_KEY=please-change-me
CEDAR_ADMIN_USERNAME=admin
CEDAR_ADMIN_PASSWORD=changeme
CEDAR_DATA_DIR=/var/lib/cedar
CEDAR_ALLOW_USER_SWITCH=true
CEDAR_DEBUG=false
